@media (max-width: 575.98px) {
  .display-4 {
    font-size:3.1rem;
  }
  h3, .h3 {
    font-size: 1.060rem;
  }

  .lead {
    font-size: 1.000rem;
  }

  #FolderIndex {
    width: 45%;
  }

  #FolderSpace1 {
    width: 20%;
  }

  #CreateFolderButton {
    width: 35%;
  }

  #WordIndex {
    width: 45%;
  }

  #WordSpace1 {
    width: 20%;
  }

  #CreateWordButton  {
    width: 35%;
  }


}

input, button, select, optgroup, textarea {
  font-family:monospace;
}



